.ttt {
  width: 485px;
  background: yellow;
}
@media (min-width: 768px) {
  .ttt {
    background: gray;
  }
}
@media (min-width: 768px) and (min-resolution: 52dpi) {
  .ttt {
    background-image: url(11.png);
  }
}
@media (min-width: 1080px) {
  .ttt {
    background-color: #f8b38d;
  }
}
.ttt .t1 {
  color: red;
}
.ttt:after {
  content: 'sadfsda';
  display: block;
  font-size: 30px;
}
.ttt :after {
  content: '1111';
  display: block;
  font-size: 30px;
}
.ttt .t2 {
  font-size: calc(30px*2);
}
.t3 {
  color: red;
}
.d1 {
  background-color: #f8b38d;
}
@media (min-width:768px) {
  .d1 {
    font-size: 30px;
  }
}
.p1 {
  background-color: #f04615;
}
.p2 {
  background-color: #f8a58d;
}
.p3 {
  background-color: #f8b38d;
}
.p1 {
  display: block;
  border: 1px solid black;
  background-color: grey;
}
.p1:hover {
  background-color: white;
}
